.Game_Page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Game_layer {
  display: flex;
  flex-direction: row;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: rgb(17, 94, 13);
}

.rectangle {
  display: flex;
  width: 75px;
  height: 75px;
  border: 1px solid black;
  margin: 0px;
  justify-content: center;
}

.normalMove {
  -webkit-box-shadow: 0 0 1px 3px #000 inset;
  -moz-box-shadow: 0 0 1px 3px #000 inset;
  box-shadow: 0 0 1px 3px #000 inset;
}

.killMove {
  -webkit-box-shadow: 0 0 1px 3px rgb(255, 0, 0) inset;
  -moz-box-shadow: 0 0 1px 3px rgb(255, 0, 0) inset;
  box-shadow: 0 0 1px 3px rgb(255, 0, 0) inset;
}

.turn {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: 10px;
}

.color_turn {
  width: 75px;
  height: 75px;
  border: 1px solid black;
}

.col {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.row {
  margin: 10px;
}

.tile {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: flex-end;
  justify-content: flex-end;
}